<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>Task form</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>

<body>

  <div class="task-form">
    <h3>Please enter the required data:</h3>

    <form th:action="@{/save}" th:object="${task}" method="post">
      <input type="hidden" th:field="*{id}" />

      <input type="text" th:field="*{description}" placeholder="Enter description" required />

      <select th:field="*{status}">
        <option th:each="status : ${statuses}"
                th:value="${status}"
                th:text="${status}">
        </option>
      </select>

      <button type="submit">Save</button>
    </form>

    <a th:href="@{/}" class="button-a">Back to list</a>
  </div>

</body>
</html>